<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Brian Emory | Web Developer</title>
    <link rel="stylesheet" href="https://til.brianemory.com/css/app-98a96aa793e8a58b8b0bff90c0fe605b.css?vsn=d">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="icon" type="image/x-icon" href="<%= static_path(@conn, "/images/icons/favicon-96x96.png") %>" %>
  </head>

  <body data-spy="scroll" data-target=".navbar-fixed-top" id="page-top">
    <div class="container">
      <%= render "_navigation.html", conn: @conn %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main-tbe role="main">
        <%= render @view_module, @view_template, assigns %>
      </main-tbe>

    </div> <!-- /container -->
    <script src="https://til.brianemory.com/js/app-2f952e652e9e1dd86a46f846352c3efd.js?vsn=d"></script>
  </body>
</html>
