<div class="col-md-4 text-left">
  <h4 class="blog-title">
    <%= link @post.title, to: @post.link, target: '_blank' %>
    <small class="blue-text"><%= @post.date %></small><br>
  </h4>
  <h5>
    <%= @post.heading %>
  </h5>
  <p>
    <%= @post.content %> <%= link 'Read more', to: @post.link, target: '_blank' %>
  </p>
  <br>
</div>

